name: Node.js CI

on:
  push:
    branches:  [master]
  pull_request:
    branches:  [master]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [24.x]

    runs-on: ${{ matrix.os }}
    timeout-minutes: 20

    steps:
      - name: Github checkout
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - run: npm run lint:check
      - run: npm audit --audit-level=critical
      - run: npm run build
      - run: npm run test:ci
      - name: Upload coverage reports to Codecov
        if: matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
          fail_ci_if_error: true

      - run: npm run build

  si-bootstrap-sdk:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    defaults:
      run:
        working-directory: layers/si-bootstrap-sdk

    steps:
      - name: Github checkout
        uses: actions/checkout@v4
      - name: Use Node.js 24.x
        uses: actions/setup-node@v3
        with:
          node-version: 24.x
          cache: 'npm'
          cache-dependency-path: layers/si-bootstrap-sdk/package-lock.json
      - run: npm ci
      - run: npm audit --audit-level=critical
      - run: npm run build
